{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Home</h1>
                <hr>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>

    </script>
{{end}}
